# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vsowpktcicudjdnvivvb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzb3dwa3RjaWN1ZGpkbnZpdnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDU5NzMsImV4cCI6MjA5NzEyMTk3M30.nr2_HF5R-v4Qs7UD2nIaGbsrE_oWdrXznU7LkvKC6w4
